[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
simpleitk = "*"
numpy = "*"
tqdm = "*"
opencv-python = "*"
matplotlib = "*"
scikit-image = "*"
scipy = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.6"
