[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
simpleitk = "*"
numpy = "*"
opencv-python = "==3.4.4.19"
matplotlib = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
jupyter = "*"
v = {version = "*",editable = true}

[requires]
python_version = "3.6"
